@import url('https://fonts.googleapis.com/css?family=Suez+One');

/***********  Global ************/

html {
  width:450px;
  height:450px;
}

body {
  width:450px;
  height:450px;
}

.logo-image {
  width:45px;
}

.logo-text {
  font-family: 'Suez One', serif;
  font-size: 2em;
  float: none;
  text-align: center;
}

/***********  Home ************/

.list-group-item {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 10px 0;
}

.m-widget4__item {
  cursor: pointer;
}

.placeholder {
  margin-top: 10px;
}

.placeholder * {
  margin:10px;
  color: #d3d3d3;
}

/***********  Books ************/

.book {
  padding: 10px;
}

/***********  Passages ************/

.passage {
  border: none;
  cursor: text;
  padding: 0;
  margin: 0;
  width: 100%;
}
