@import url('https://fonts.googleapis.com/css?family=Bangers');

/***********  Global ************/

body {
  width:320px;
  height:450px;
}

.logo-image {
  width:50px;
}

.logo-text {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  float: left;
}

/***********  Home ************/

.list-group-item {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 10px 0;
}

.m-widget4__item {
  cursor: pointer;
}

.placeholder {
  margin-top: 10px;
}

.placeholder * {
  margin:10px;
  color: #d3d3d3;
}

/***********  Books ************/

.book {
  padding: 10px;
}

/***********  Passages ************/

.passage {
  border: none;
  cursor: text;
  padding: 0;
  margin: 0;
  width: 100%;
}
