<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-container m-container--responsive m-container--xxl m-container--full-height">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title ">
              Choose Chapter
            </h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <!--Begin::Section-->
        <div class="row">
          <div class="col-xl-6">
            <!--begin:: Books -->

            <!-- Search Results -->
            <div class="row m-row--full-height" ng-if="ctrl.loading || ctrl.chapters">
              <div class="col-sm-12 col-md-12 col-lg-6">
                <ul class="m-nav">
                  <li class="m-nav__item">
                    <a href="#" ng-click="ctrl.chapters = undefined;" class="m-nav__link">
                      <i class="m-nav__link-icon fa fa-arrow-left"></i>
                      <span class="m-nav__link-text">
                        Back
                      </span>
                    </a>
                  </li>
                </ul>
                <div class="m-portlet m-portlet--half-height">
                  <div class="m-portlet__body">
                    <div class="row" ng-if="ctrl.loading">
                      <div class="col-sm-12 text-center spinner">
                        <i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class="row" ng-if="ctrl.chapters">
                      <div class="col-sm-12">
                        <ul class="list-group">
                          <li class="list-group-item book" ng-repeat="chapter in ctrl.chapters | filter: { chapter: '!int'}" ui-sref="verses({bookId: ctrl.bookId, chapter: chapter.chapter})">
                            <div class="row">
                              <div class="col-sm-12 text-left">
                                <b>{{'Chapter ' + chapter.chapter}}</b>
                                <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Search Results -->
            <!--end:: Search-->
          </div>
        </div>
        <!--End::Section-->
      </div>
    </div>
  </div>
</div>
