<div class="m-grid m-grid--hor m-grid--root m-page m-body"><div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
        <div class="m-login__signin">
          <div class="m-login__head text-center">
            <h4 class="m-login__title">
              Read the Word of God right in your browser
            </h4>
						<i class="fa fa-heart fa-5x m--padding-15" style="font-size:10em;"></i>
          </div>
          <form action="" class="m-login__form m-form ng-pristine ng-valid ng-touched" novalidate="">
            <!---->
            <div class="m-login__form-action">
              <button ng-click="ctrl.auth()" class="btn btn-success m-btn m-btn--custom m-btn--bolder m-btn--uppercase btn-block" id="m_login_signin_submit" ng-reflect-klass="btn btn-focus m-btn m-btn--pil" ng-reflect-ng-class="[object Object]">
                Get Started
              </button>
            </div>
          </form>
        </div>
			</div>
		</div>
	</div>
	<!-- <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/app/media/img//bg/bg-4.jpg)">
		<div class="m-grid__item m-grid__item--middle">
			<h3 class="m-login__welcome">
				Welcome
			</h3>
			<p class="m-login__msg">
				Thanks for downloading Scriptura!
				<br>
				Click below to get started reading God's Word.
			</p>
		</div>
	</div> -->
</div>
</div>
